@font-face{
	font-family: Asap-Medium;
	src: url(../fonts/Asap-Medium.ttf);
}

@keyframes stopwatch{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

div{
	text-align: center;
	margin: 200px;
	font-family: Asap-Medium;
	color: #00CDD1;
}

i{
	font-size: 200px;
	animation: stopwatch 2s infinite;
	animation-timing-function: ease-in;
}

i:hover{
	animation: paused;
}