@keyframes heart{
	0%{
		font-size: 250px;
	}
	25%{
		font-size: 200px;
	}
	50%{
		font-size: 250px;
	}
	75%{
		font-size: 200px;
	}
	100%{
		font-size: 250px;
	}
}

div{
	margin: 200px;
	text-align: center;
}

i{
	font-size: 200px;
	text-align: center;
	color: #FB7E6E;
	animation-name: heart;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}