@font-face{
	font-family: Asap-Medium;
	src: url(../fonts/Asap-Medium.ttf);
}

@keyframes stopwatch{
	100%{transform: rotate(360deg);}
}

body{
	text-align: center;	
	margin-top: 200px;
}
div{
	color: #00CDD1;
	display: inline-block;
	font-family: Asap-Medium;
}

i{
	font-size: 200px;
}

.stopwatch:hover .line{
	animation-play-state: paused;
}

.stopwatch{
	width: 200px;
	height: 200px;
	position: relative;
}
.line{
	text-align: center;
	background-color: #00CDD1;
	width: 10px;
	height: 60px;
	position: absolute;
	border-radius: 10px;
	top: 40px;
	left: 95px;
	animation: stopwatch 2s infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
	transform-origin: bottom;
}
