@font-face{
	font-family: Asap-Regular;
	src: url(../fonts/Asap-Regular.ttf);
}

@keyframes max{
	 from{
	 	transform: scale(1,1);
	 }
	 to{
	 	transform: scale(1.4,1.4);
	 }
}


section{
	text-align: center;
}

h2{
	color: #D3D3D3;
	font-family: Asap-Regular;
	margin-top: 100px;
	margin-bottom: 30px;
	font-weight: 100;
}

div{
	color: #fff;
	border-radius: 5px;
	width: 450px;
	height: 70px;
	line-height: 70px;
	font-size: 25px;
	font-family: Asap-Regular;
	display: inline-block;
	font-weight: 100px;
}

.div1{
	background-color: #00CED2;
}

.div2{
	background-color: #FF623F;
}


section:hover .div1{
	animation: max 3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}


section:hover .div2{
	animation: max 3s;
	animation-fill-mode: none;
	animation-timing-function: ease-in-out;
}
